.list__item {
    position: relative;
    min-height: 80px;    
    padding: 12px 92px 8px 16px;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--main);
}
.list__icons{
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    display: flex;
}
.list__item:hover{
    background-color: var(--hover-blue);
}

.list__icon + .list__icon {
    margin-left: 12px;
}

.list__top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.list__name {
    font-weight: 500;
    margin-right: 16px;
}
.list__cat {
    display: flex;
    line-height: 24px;
    color: var(--main);
}
.list__cat img{
    margin-right: 2.8px;
}
.list__description {
    color: var(--grey);
}