
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;  
  line-height: 1.5;
  color: var(--black);   
}

* {
  box-sizing: border-box;
}


select, 
input,
button,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: transparent;
  padding-block: 0;
  padding-inline: 0;  
  font: inherit;
  letter-spacing: inherit;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {  
  -webkit-appearance: none;
  margin: 0; 
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

fieldset {
  display: flex;
  margin-inline: 0;
  padding: 0;
  padding-block: 0px 0px;
  padding-inline: 0px;
}
